.carousel-thumbnail {
    margin: auto;
}

.carousel-thumbnail .splide__list {
    margin: auto;
}

.carousel-thumbnail .splide__arrow--prev{
    left: -40px;
}

.carousel-thumbnail .splide__arrow--next{
    right: -40px;
}

.carousel-thumbnail img {
    width: 100%;
}

.carousel-large-image img{
    width: 100%;
    /* height: -webkit-fill-available; */
}

.carousel-large-image .splide__slide{
    text-align: center;
}

.thumbnail-carousel-container{
    /* max-width: 30%; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}